.mdl-layout__drawer{
	color: white;
	border: none;
	background: green;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
	color: lightgrey;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
	color: black;
}

.mdl-layout__content{
	background-color: lightgrey; 

}

.full-page{
	display: block;
	margin: auto;
}

.grid-title{
	text-decoration: underline;
}

.grid-title:hover{
	background-color: black;
	color: white;
	text-decoration: none;
	transition: background-color 1s, color 1s, text-decoration 1s;
}